@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|IBM+Plex+Sans:400,500,700");
@font-face {
  font-family: "GTW";
  src: url("../fonts/subset-GTWalsheimProBlack.woff2") format("woff2"), url("../fonts/subset-GTWalsheimProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "walsheim-bold";
  src: url("../fonts/subset-GTWalsheimProBold.woff2") format("woff2"), url("../fonts/subset-GTWalsheimProBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "GTW";
  src: url("../fonts/subset-GTWalsheimProMedium.woff2") format("woff2"), url("../fonts/subset-GTWalsheimProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "GTW";
  src: url("../fonts/subset-GTWalsheimProRegular.woff2") format("woff2"), url("../fonts/subset-GTWalsheimProRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
