/* stylelint-disable */
/* stylelint-enable */
.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-right: -24px; }
  .grid__item {
    width: 50%;
    padding-right: 24px;
    display: inline-flex;
    flex-flow: column nowrap; }
    @media only screen and (max-width: 960px) {
      .grid__item {
        width: 100%; }
        .grid__item.md-order-1 {
          order: 1; }
        .grid__item.md-order-2 {
          order: 2; }
        .grid__item.md-50 {
          width: 50%; }
        .grid__item.md-100 {
          width: 100%; } }
    .grid__item--100 {
      width: 100%; }
    .grid__item--25 {
      width: 25%; }
    .grid__item--75 {
      width: 75%; }
    .grid__item .calculator__form .input__wrapper {
      padding-right: 0; }
