.contact-info__values {
  float: left;
  padding-bottom: 10px;
  margin-bottom: 0; }

.contact-info__value {
  display: inline-block;
  position: relative;
  margin-right: 70px; }

.contact-info__field {
  position: relative;
  width: 260px;
  height: 45px;
  padding: 13px 25px 10px 15px;
  margin-right: 20px;
  box-sizing: border-box;
  float: left;
  color: #000;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
  border-radius: 2px; }

.contact-info__field-in {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal; }

.contact-info__hint {
  display: none;
  background-color: #000;
  color: white;
  font-size: 14px;
  font-weight: normal;
  width: auto;
  height: auto;
  margin: 0;
  padding: 8px 15px 11px;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 300;
  border-radius: 2px; }
  .contact-info__hint:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 3px 3px;
    border-color: transparent transparent #3a3434 transparent;
    position: absolute;
    top: -3px;
    right: 18px; }

.contact-info__field .contact-info__hint {
  display: block; }

.contact-info__mark {
  fill: #00c5b1;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px; }

.contact-info .contact-info__change-btn {
  padding: 0;
  margin-top: 10px;
  font-size: 15px;
  color: #00a3e0;
  background: transparent; }
  .contact-info .contact-info__change-btn:hover {
    text-decoration: underline; }

.contact-info__message {
  display: inline-block;
  max-width: 200px;
  margin: 3px 0 0 0;
  font-size: 14px;
  line-height: 18px;
  color: rgba(63, 52, 52, 0.5); }

.contact-info__message-icon {
  fill: currentColor;
  margin-right: 5px; }
