.editkey {
  display: block;
  font-size: 15px;
  color: #00a3e0;
  visibility: hidden;
  text-decoration: none;
  white-space: nowrap; }
  .editkey .pencil {
    margin-right: 9px;
    fill: #00a3e0; }
  .editkey span:hover {
    text-decoration: underline; }
  .editzone .editkey {
    position: absolute;
    top: 0;
    right: 18px;
    padding-top: 7px;
    padding-left: 10px;
    background: #f7f7f7; }
  .editzone--on:hover .editkey {
    visibility: visible; }
  .editzone--edit .editkey {
    visibility: hidden; }
