.editzone {
  position: relative;
  padding: 7px 0;
  margin-bottom: 7px; }
  .editzone:before, .editzone:after {
    content: "";
    display: table; }
  .editzone:after {
    clear: both; }
  .editzone .editzone__add-btn {
    margin-top: 2px;
    margin-left: 5px; }
  .editzone__controls-right > .editzone__add-btn {
    float: left;
    margin-top: 5px;
    margin-left: 4px; }
  .editzone__buttons {
    float: right; }
  .editzone:not(.editzone--edit) .btn-simple {
    padding: 0 0 0 22px; }
  .editzone--on:hover, .editzone--edit {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(239, 239, 239, 0.5); }
  .editzone--edit {
    padding-top: 17px;
    padding-bottom: 20px; }
  .editzone--contacts {
    padding-bottom: 20px; }
  .editzone--education {
    padding-top: 0; }
  .editzone__controls-right {
    text-align: right;
    margin-top: -5px; }
    .editzone__controls-right:before, .editzone__controls-right:after {
      content: "";
      display: table; }
    .editzone__controls-right:after {
      clear: both; }
  .editzone__input-wrap {
    position: relative;
    margin-bottom: 14px; }
  .editzone__editext {
    height: 98px !important;
    padding: 15px;
    line-height: 1.3; }
  .editzone__characters {
    position: absolute;
    right: 10px;
    bottom: 10px;
    min-width: 65px;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    background-color: #afb4b7; }
  .editzone__links-footer {
    margin-top: 5px; }
    .editzone__links-footer .btn-simple {
      padding-top: 7px;
      padding-bottom: 0; }
  .editzone .editkey + h4 {
    margin-top: 0; }
  .editzone__history-current {
    margin-right: 45px; }
  .editzone__save-btn-wrapper {
    min-width: 140px;
    display: inline-block;
    margin-left: 28px;
    position: relative;
    box-sizing: border-box; }
  .editzone__save-btn-wrapper--cell-phone {
    min-width: 160px; }
  .editzone__form {
    position: relative;
    margin: 0 -10px; }
    .editzone__form:before, .editzone__form:after {
      content: "";
      display: table; }
    .editzone__form:after {
      clear: both; }
  .editzone__inputbox {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box; }
    .editzone__inputbox--nolabel {
      padding-top: 29px; }
    .editzone__inputbox--dash {
      position: relative; }
      .editzone__inputbox--dash:after {
        position: absolute;
        right: -15px;
        bottom: 14px;
        display: block;
        width: 30px;
        content: "\2014";
        color: rgba(0, 0, 0, 0.5);
        text-align: center; }
    .editzone__inputbox--auto {
      width: auto; }
  .editzone__select {
    float: left; }
    .editzone__select--date {
      width: 125px; }
    .editzone__select--month {
      width: 149px;
      margin-left: 10px; }
  .editzone__remove-link {
    font-size: 15px;
    color: #00a3e0;
    cursor: pointer;
    margin-right: 29px;
    margin-top: 10px; }
    .editzone__remove-link:hover {
      text-decoration: underline; }
  .editzone__iperiod-text {
    max-width: 200px;
    font-size: 15px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.5); }
