.editpanel {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 7px; }
  .editpanel + .editpanel {
    margin-top: 7px; }
  .editpanel__footer {
    position: relative;
    padding: 20px 0; }
  .editpanel__footer--history {
    padding-top: 9px;
    padding-bottom: 10px; }
  .editpanel__fieldset {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5); }
    .editpanel__fieldset--date {
      float: left;
      width: 101px; }
      .editpanel__fieldset--date + .editpanel__fieldset--date {
        margin-top: 0;
        margin-left: 58px; }
    .editpanel__fieldset--date-first {
      position: relative; }
      .editpanel__fieldset--date-first:after {
        position: absolute;
        left: 100%;
        bottom: 14px;
        display: block;
        width: 58px;
        content: "\2014";
        text-align: center; }
  .editpanel__fieldset-label {
    margin-bottom: 12px; }
  .editpanel__date-select {
    font-size: 15px;
    color: #3f3434; }
    .editpanel__date-select .select-box-control {
      height: 40px;
      line-height: normal;
      padding-top: 8px; }
    .editpanel__date-select--year {
      width: 90px; }
    .editpanel__date-select--month {
      text-transform: capitalize; }
  .editpanel__checkbox--work-status {
    margin-top: 41px;
    margin-left: 9px;
    float: left;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8); }
  .editpanel__date-label {
    color: rgba(63, 52, 52, 0.7);
    margin-bottom: 10px; }
