.profile-navitop__settings_link {
  padding: 21px 0 19px;
  display: inline-block;
  text-decoration: none; }
  .profile-navitop__settings_link :hover {
    text-decoration: underline; }

.profile-navitop__right {
  margin-left: 14px;
  float: right; }
  .profile-navitop__right:before, .profile-navitop__right:after {
    content: "";
    display: table; }
  .profile-navitop__right:after {
    clear: both; }

.profile-navitop .profile-navitop__btn-add,
.profile-navitop .profile-navitop__message,
.profile-navitop .profile-navitop__btn-send {
  min-width: 182px;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: "walsheim", "Open Sans", sans-serif; }

.profile-navitop .profile-navitop__btn-send {
  padding: 8px 0 10px; }

.profile-navitop__btn-send-ico {
  position: relative;
  margin-right: 6px;
  fill: #00a3e0;
  width: 8px;
  height: 14px;
  top: 2px; }

.profile-navitop__btn-send:hover .profile-navitop__btn-send-ico {
  fill: #00b9ff; }

.profile-navitop__message-ico {
  fill: #ffffff;
  width: 16px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px; }

.profile-navitop__message-link {
  color: #00a3e0;
  text-decoration: none;
  vertical-align: middle; }

.profile-navitop__message:hover .profile-navitop__message-link {
  text-decoration: underline; }

.profile-navitop__message-icon-wrap {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #b3adad;
  border-radius: 50%; }

.profile-navitop__message-icon {
  position: absolute;
  top: 5px;
  left: 4px; }

.profile-navitop__invite {
  margin-left: 18px;
  float: right; }

.profile-navitop .profile-navitop__not--available,
.profile-navitop .profile-navitop__not--available:hover {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: white;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none; }

.profile-navitop__not--available .profile-navitop__btn-send-ico,
.profile-navitop__not--available:hover .profile-navitop__btn-send-ico {
  fill: rgba(0, 0, 0, 0.3); }
