.editable-block--edit .editable-block__label {
  width: 100%;
  margin-bottom: 10px; }

.editable-block__controls-right {
  text-align: right; }
  .editable-block__controls-right:before, .editable-block__controls-right:after {
    content: "";
    display: table; }
  .editable-block__controls-right:after {
    clear: both; }

.editable-block__save-btn-wrapper {
  min-width: 86px;
  margin-left: 18px;
  display: inline-block; }

.editable-block .editkey {
  display: inline;
  position: relative;
  top: 2px; }

.editable-block:hover .editkey {
  visibility: visible; }

.editable-block--edit {
  padding: 13px;
  margin: 0 -13px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px; }

.editable-block__add-link {
  color: #00a3e0;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer; }
  .editable-block__add-link:hover {
    text-decoration: underline; }

.editable-block__list--editable {
  padding-right: 65px; }

.editable-block .editable-block__list--editable + .editkey {
  position: relative;
  display: inline-block;
  top: auto;
  right: auto;
  margin-left: -45px;
  vertical-align: middle; }
