.search-navitop {
  position: absolute;
  top: -50px;
  left: 50%;
  height: 50px;
  text-align: center;
  border-bottom: 0;
  z-index: 1;
  width: 338px;
  margin-left: -169px; }
  @media screen and (max-width: 1200px) {
    .search-navitop {
      width: 296px;
      margin-left: -148px; } }
  .search-navitop--vb {
    width: 278px;
    margin-left: -139px; }
    @media screen and (min-width: 1200px) {
      .search-navitop--vb {
        width: 339px;
        margin-left: -168px;
        letter-spacing: 1px; } }
  .search-navitop__tabs {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    overflow: hidden; }
  .search-navitop__tab {
    width: 50%; }
    .search-navitop__tab--active {
      background: #fff; }
  .search-navitop .search-navitop__tab-link {
    padding: 17px 0 15px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 0;
    transition: background-color .2s; }
    .search-navitop .search-navitop__tab-link:hover, .search-navitop .search-navitop__tab-link:focus {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2); }
  .search-navitop__tab-link {
    font-size: 15px; }
    @media screen and (min-width: 1200px) {
      .search-navitop__tab-link {
        font-size: 17px;
        padding: 15px 0 15px;
        letter-spacing: 0; } }
  .search-navitop__tab-link-text {
    font-size: 15px; }
    @media screen and (min-width: 1200px) {
      .search-navitop__tab-link-text {
        font-size: 17px;
        letter-spacing: 0; } }
  .search-navitop__tab--active .search-navitop__tab-link {
    color: #000; }
    .search-navitop__tab--active .search-navitop__tab-link:hover, .search-navitop__tab--active .search-navitop__tab-link:focus {
      color: #000; }
